<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Papaya Viewer</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/ui/toolbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/ui/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/ui/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/utilities/nojs.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/utilities/unsupported.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/viewer/viewer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='papaya/release/current/minimal/papaya.css') }}">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Papaya and other JavaScript files -->
    <script type="text/javascript" src="{{ url_for('static', filename='lib/base64-binary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bowser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/daikon.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/nifti-reader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/numerics.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/pako-inflate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/gl-matrix.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/gifti-reader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/GLU.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='src/js/constants.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/array-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/math-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/object-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/platform-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/string-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/utilities/url-utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/core/coordinate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/core/point.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/header.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/imagedata.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/imagedescription.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/imagedimensions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/imagerange.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/imagetype.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/nifti/header-nifti.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/dicom/header-dicom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/orientation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/transform.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/volume.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/voxeldimensions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/volume/voxelvalue.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='src/js/surface/surface.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/surface/surface-gifti.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/surface/surface-mango.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/surface/surface-vtk.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitem.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemcheckbox.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemradiobutton.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemfilechooser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemrange.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemslider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/menuitemspacer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/ui/toolbar.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/atlas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/colortable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/display.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/preferences.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/screenslice.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/screensurface.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/screenvol.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/viewer/viewer.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='src/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='papaya/release/current/minimal/papaya.js') }}"></script>
</head>
<body>
    <div class="papaya" data-params="params"></div>

    <script type="text/javascript">
        console.log("Initializing Papaya...");
    
        var imageUrl = "{{ url_for('serve_file', filename=file_name) }}";
        console.log("Generated image URL:", imageUrl);

        var params = {
            images: [imageUrl]
        };

    console.log(params)
    
        window.onload = function() {
            console.log("Window loaded, starting Papaya...");
            console.log(params)
            papaya.Container.startPapaya();
            papaya.Container.resetViewer(0, params);
            console.log("Papaya started.");
        };
    </script>
</body>
</html>
